
body {
    font-family: sans-serif;
}

<head>
	<title>Image in Top-Right Corner</title>
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.top-right-container {
			position: fixed;
      right: 300px;
      top: 125px;
			height: 300px; /* Adjust the height as needed */
		}

		.top-right-image {
			float: right;
			max-width: 300px; /* Adjust the maximum width as needed */
			max-height: 250px;
      animation: pulse 10s infinite;/* Adjust the maximum height as needed */
		}
	</style>
</head>
<body>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  .top-left-container {
    position: fixed;
    left: 300px;
    top: 125px;
    height: 300px; /* Adjust the height as needed */
  }

  .top-left-image {
    float: left;
    max-width: 300px; /* Adjust the maximum width as needed */
    max-height: 150px;
    animation: pulse 10s infinite; /* Adjust the maximum height as needed */
  }
</style>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  .bottom-right-container {
    position: fixed;
    right: 300px;
    bottom: 125px;
    height: 250px; /* Adjust the height as needed */
  }

  .bottom-right-image {
    float: right;
    max-width: 300px; /* Adjust the maximum width as needed */
    max-height: 150px;
    animation: pulse 10s infinite;
       /* Adjust the maximum height as needed */
  }
</style>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  .bottom-left-container {
    position: fixed;
    left: 300px;
    bottom: 50px;
    height: 250px; /* Adjust the height as needed */
  }

  .bottom-left-image {
    float: left;
    max-width: 300px; /* Adjust the maximum width as needed */
    max-height: 150px;
    animation: pulse 10s infinite; /* Adjust the maximum height as needed */
  }
</style>


h1 {
  color: white
}

.container {
    width: 500px;
    height: 100px;
    background-color: #AC4111;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 500px;
		font-size: 18px;
}

.container6 {
    width: 500px;
    height: 100px;
    background-color: #2B2E30;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 500px;
		font-size: 20px;
    line-height: 26px;
}


.container7 {
    width: 300px;
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 450px;
		font-size: 20px;
    line-height: 26px;
}

.container-link {
    position: absolute;
    top: 200px;
    left: 500px;
}

.container2 {
    width: 80px;
    height: 50px;
    background-color: #134F5C;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 700px;
    font-size: 12px;
}

.button {
    display: inline-block;
    padding: 3px 3px;
    background-color: #134F5C;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2A606C;
}

.container3 {
    width: 600px;
    height: 100px;
    background-color: #557B85;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 250px;
    left: 450px;
		font-size: 17px
}

.rcontainer {
  width: 150px;
  height: 50px;
  padding: 1px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  top: 3px;
  right: 1px;
  color: #BABA46
  font-size: 8px
}

.container4 {
    width: 150px;
    height: 50px
    margin: 0 auto;
    padding: 20px;
    position: fixed;
    top: 3px;
    right: 3px;
    font-size: 15px
}

.counter-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    font-size: 15px
}

.counter-image {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px;
}

#count {
    font-size: 24px;
    font-weight: bold;
}

#counter {
    font-size: 12px;
}

.container5 {
  width: 25opx;
  hegith: 200px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 200px;
  right: 630px;
  font-size: 14px

}
